.dashboard_wrapper {
  background-color: var(--bgVeryLightGray);
}

.dashboard_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start ;
  min-height: calc(100vh);
}

.children_container {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  .dashboard_container {
    flex-direction: column;
  }

  .children_container {
    padding-top: 0.5rem;
  }
}