.about {
  background-image: var(--gradientRight);
}

.headings h1 {
  color: var(--white);
  font-weight: 800;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  margin-top: 3.5rem;
}

.question {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--bgWhite);
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px var(--shadow);
  transition: all 200ms ease-in-out;
}

.title div {
  width: 10rem;
  height: 5px;
  background-color: var(--darkBlue);
  margin-bottom: 1.7rem;
}

.title h3 {
  color: var(--colorDarkBlue);
  margin-bottom: 1rem;
}

.text div {
  width: 5rem;
  height: 5px;
  background-color: var(--darkBlue);
  margin-top: 1.7rem;
  margin-left: auto;
}


[data-theme= "dark"] .about {
  background-color: var(--bgVeryLightGray);
  background-image: none;
}

[data-theme= "dark"] .title div,
[data-theme= "dark"] .text div {
  background-image: var(--gradientRight);
}

@media screen and (min-width: 40em) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .question {
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .question {
    padding: 2rem 1rem;
  }
}