.card {
  padding: 2rem 2rem 0.35rem;
  margin: 2rem auto;
  background-color: var(--bgWhite);
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--shadow);
}

.categories {
  display: inline-block;
  vertical-align: middle;
}

.categories span {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  background-color: var(--bgLimeGreen);
  color: var(--white);
  border-radius: 5px;
}

.author,
.author:visited {
  color: var(--lightBlue);
  font-weight: 600;
}

.readmore,
.readmore:visited {
  color: var(--colorDarkBlue);
  font-weight: 500;
}

.author:hover,
.readmore:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}

.general_infos {
  color: var(--colorBlack);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav svg {
  margin-left: 0.5rem;
  transition: all 200ms ease-in-out;
}

.fav:hover svg {
  transform: scale(1.10);
}

.stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stats svg {
  margin-right: 1rem;
  margin-left: 0.5rem;
}


.comment_card {
  padding: 1rem 1.5rem;
}

.comment_card .content{
  color: var(--colorDarkBlue);
}

.comment_card .footer {
  font-size: var(--font-sm);
}

.comment_card .footer a {
  color: var(--lightBlue);
}

.comment_card .footer a:hover {
  text-decoration: underline;
}

.comment_card .general_infos {
  color: var(--grayishBlue);
}

@media screen and (max-width: 650px ) {
  .card {
    padding: 2rem 1.5rem 0.35rem;
  }

  .comment_card {
    padding: 1rem 1.5rem;
  }

  .comment_card .footer {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

@media screen and (max-width: 350px ) {
  .card {
    padding: 2rem 1rem 0.35rem;
  }

  .comment_card {
    padding: 1rem;
  }
}

