.card {
  padding: 2rem 2rem 0.35rem;
  margin: 2rem auto;
  background-color: var(--bgWhite);
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--shadow);
}

.categories {
  display: flex;
}

.categories span {
  padding: 0.3rem 0.7rem;
  margin-right: 0.4rem;
  background-color: var(--bgLimeGreen);
  color: var(--white);
  border-radius: 5px;
}

.author,
.author:visited {
  color: var(--lightBlue);
  font-weight: 600;
}

.readmore,
.readmore:visited {
  color: var(--colorDarkBlue);
  font-weight: 500;
}

.author:hover,
.readmore:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}

.general_infos {
  color: var(--colorBlack);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav {
}

.fav:hover svg {
  transform: scale(1.20);
}

.stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stats svg {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 350px ) {
  .categories {
    flex-direction: column;
  }

  .categories span {
    margin-bottom: 0.5rem;
    width: fit-content;
  }
}