.blog_wrapper {
  background-color: var(--bgVeryLightGray);
  min-height: calc(100vh - 18rem);
}

.blog_container {
  min-height: calc(100vh);
}

.post {

}

.post h2 {
  margin-bottom: 3rem;
}

.categories {
  padding-left: 0.6rem;
  margin-bottom: 1rem;
}

.categories span {
  padding: 0.3rem 0.7rem;
  margin-right: 0.4rem;
  background-color: var(--bgLimeGreen);
  color: var(--white);
  border-radius: 5px;
}

.general_infos {
  padding-left: 0.6rem;
  margin-bottom: 2rem;
  color: var(--colorGrayishBlue);
}

.author {
  color: var(--lightBlue);
  font-weight: 600;
}

.readmore,
.readmore:visited {
  color: var(--colorDarkBlue);
  font-weight: 500;
}

.author:hover,
.readmore:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}

.stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  padding: 0.3rem 2rem;
}

.content {
  text-align: justify;
  color: var(--colorBlack);
}
