.blog_wrapper {
  background-color: var(--bgVeryLightGray);
  min-height: calc(100vh - 18rem);
}

.blog_container {
  min-height: calc(100vh);
}

.post {

}

.post h2 {
  margin-bottom: 2rem;
}

.categories {
  padding-left: 0.6rem;
  margin-bottom: 1rem;
}

.categories span {
  padding: 0.3rem 0.7rem;
  margin-right: 0.4rem;
  background-color: var(--bgLimeGreen);
  color: var(--white);
  border-radius: 5px;
}

.general_infos {
  padding-left: 0.6rem;
  margin-bottom: 2rem;
  color: var(--colorGrayishBlue);
}

.author {
  color: var(--lightBlue);
  font-weight: 600;
}

.readmore,
.readmore:visited {
  color: var(--colorDarkBlue);
  font-weight: 500;
}

.author:hover,
.readmore:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}

.stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  margin-top: 2rem;
}

.stats svg {
  margin-right: 1rem;
}

.content {
  text-align: justify;
  color: var(--colorBlack);
}


.comments form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.comments form input {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-right: 2rem;
  color: var(--colorGrayishBlue);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grayishBlue);
  outline: none!important;
}

.comments form button:disabled,
.comments form button:disabled:hover {
  transform: none;
  background-color: var(--lightGrey);
  color: var(--darkBlue);
}

.comments form button {
  margin-right: 0.5rem;
  padding: 0.5rem 1.2rem;
  font-size: var(--font-med);
  background-color: var(--bgLimeGreen);
  color: var(--white);
  border: none;
  border-radius: 7px;
  outline: none!important;
  transition: all 200ms ease-in-out;
}

.comments .comment {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem 0.5rem 0.5rem;
  border-bottom: 1px solid var(--grayishBlue);
}

.comments .comment .comment_content {
  margin-bottom: 0;
  color: var(--colorDarkBlue)
}

.comments .comment .comment_infos {
  font-size: var(--font-sm);
}

@media screen and (max-width: 690px ) {
  .comments form {
    flex-direction: column;
    align-items: flex-start;
  }

  .comments form button {
    font-size: var(--font-sm);
    margin-top: 2rem;
    align-self: flex-end;
  }
}