.blog_wrapper {
  background-color: var(--bgVeryLightGray);
  min-height: calc(100vh - 18rem);
}

.blog_container {
  min-height: calc(100vh);
}

.post {

}

.post h2 {
  margin-bottom: 2rem;
}

.categories {
  display: inline-block;
  vertical-align: middle;
}

.categories span {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  background-color: var(--bgLimeGreen);
  color: var(--white);
  border-radius: 5px;
}

.general_infos {
  margin-bottom: 2rem;
  color: var(--colorGrayishBlue);
}

.author,
.author:visited {
  color: var(--lightBlue);
  font-weight: 600;
}

.readmore,
.readmore:visited {
  color: var(--colorDarkBlue);
  font-weight: 500;
}

.author:hover,
.readmore:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}

.content {
  text-align: justify;
  color: var(--colorBlack);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.favs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.favs svg {
  margin-left: 0.4rem;
  transition: color 200ms ease-in-out;
}

.favs:hover {
  text-decoration: underline;
}

.comment {
  position: relative;
}

.comment .edit {
  position: absolute;
  top: 40%;
  right: 0.2rem;
  z-index: 1;
  cursor: pointer;
}

.comment .edit_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1rem;
  right: 3rem;
  padding: 0.8rem;
  background-color: var(--bgVeryLightGray);
  z-index: 2;
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--shadow);
}

.comment .edit_menu button {
  display: flex;
  align-items: center;
  line-height: 1;
  margin: 0.3rem;
  color: var(--colorDarkBlue);
  transition: all 200ms ease-in-out;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.comment .edit_menu button:hover {
  text-decoration: underline;
  color: var(--colorLimeGreen);
}

.comment .edit_menu svg {
  margin-right: 0.7rem;
}

.comment .edit_form textarea{
  width: 100%;
  padding: 0;
  font-size: var(--font-med);
  font-family: "Public Sans", sans-serif;
  color: var(--colorGrayishBlue);
  background-color: transparent;
  border: none;
  outline: none!important;
  resize: none;
}

.comment .edit_form button {
  margin-top: 1rem;
  font-size: var(--font-sm);
}

.comment .edit_form button.cancel {
  background-color: var(--lightGrey);
  color: var(--black);
}

.comments form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.comments form input {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-right: 2rem;
  color: var(--colorDarkBlue);
  font-size: var(--font-med);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grayishBlue);
  outline: none!important;
}

.comments form button:disabled,
.comments form button:disabled:hover {
  transform: none;
  filter: none;
  background-color: var(--lightGrey);
  color: var(--black);
}

.comments form button {
  margin-right: 0.5rem;
  padding: 0.5rem 1.2rem;
  font-size: var(--font-med);
  background-color: var(--bgLimeGreen);
  color: var(--white);
  border: none;
  border-radius: 7px;
  outline: none!important;
  transition: all 200ms ease-in-out;
}

.comments .comment {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem 0.5rem 0.5rem;
  border-bottom: 1px solid var(--grayishBlue);
}

.comments .comment .comment_content {
  margin-bottom: 0;
  color: var(--colorDarkBlue)
}

.comments .comment .comment_infos {
  font-size: var(--font-sm);
}

.loader {
  display: block;
  padding: 0.5rem 1rem;
  margin: 3rem auto 0;
  color: var(--white);
  background: var(--bgLimeGreen);
  border-radius: 5px;
}

@media screen and (max-width: 690px) {
  .comments form {
    flex-direction: column;
    align-items: flex-start;
  }

  .comments form button {
    font-size: var(--font-sm);
    margin-top: 2rem;
    align-self: flex-end;
  }

  .comment {
    padding-top: 2rem;
  }

  .comment .edit {
    top: 0;
  }

  .comment .edit_menu {
    top: 0;
    right: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
  }

  .stats {
    margin-bottom: 1rem;
  }
}