.menu {
  width: fit-content;
  white-space: nowrap;
  padding-right: 3rem;
  background-color: var(--bgVeryLightGray);
  border-right: 3px solid var(--colorDarkBlue);
  transition: all 200ms ease-in-out;
}

.menu.closed {
 display: none;
}

.menu p {
  display: flex;
  align-items: center;
  font-size: 1.375rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
  color: var(--colorDarkBlue);
}

.menu svg {
  margin-right: 0.9rem;
}

.menu ul {
  margin-bottom: 3em;
}

.menu ul li {
  margin-bottom: 1.5rem;
}

.menu ul li a {
  display: flex;
  align-items: center;
}

.menu a.active,
.menu a:hover {
  color: var(--colorDarkBlue);
}

@media screen and (max-width: 1050px) {
  .menu {
    display: none;
    border-right: none;
    border-radius: 5px;
  }

  .menu.closed {
    display: block;
    margin-bottom: 3rem;
  }
}

@media (max-width: 39.5rem) {
  .menu p {
    font-size: var(--font-med);
  }
}
